.view {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.toggle-buttons {
  display: flex;
  align-items: center;
}

.toggle-button {
  width: 150px;
  background-color: blue;
  color: white;
  border-color: transparent;
  margin-left: 10px; 
}

.clinician {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
