.view {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: calc(3% + 35px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.toggle-buttons {
  display: flex;
  align-items: center;
}

.toggle-button {
  width: calc(2vh + 5vw + 100px);
  background-color: blue;
  color: white;
  border-color: transparent;
  margin-left: 10px; 
}

.toggle-buttons-back {
  display: flex;
  align-items: center;
}

.back-button {
  width: calc(2vh + 5vw + 50px);
  background-color: blue;
  color: white;
  border-color: transparent;
}

.clinician {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.clinician > label {
  cursor: pointer;
  font-weight: unset;
  margin: 0;
}

.clinician-name {
  color: #5862AB;
  font-weight: bold;
}

.schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-result {
  position: absolute;
  z-index: 10;
}
