.welcome-message {
    font-size: 16px;
    color: DarkGrey;
    float: left;
    display: inline;

}

.welcome-page {
    background: white;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.welcome-page h2, b {
    margin: 0;
}

.stretched-link {
    color: black;
    text-decoration: none;
}
.stretched-link:hover {
    color: #5F5FC4;
    text-decoration: none;
}

.welcome-col {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 30px;
    border: 1px solid LightGrey;
}

.welcome-card {
    background-color: white;
    height: 20vw;
    width: 40vh;
    display: inline;
    margin-bottom: 10%;
}

.icon-picture {
    width: 277px;
    height: 185px;
    padding-top: 30px;
}

.welcome-row-content {
    display: table;
    clear: both;
    margin: auto;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
    padding-bottom: 15%;

}

.welcome-row-title{
    content: "";
    display: table;
    float: center;
    padding: 10px;
    text-align: left;
    margin-top: 70px;

}