.menu-wrapper {
  display: inline-block;
  margin: 0;
  background: rgb(237, 238, 244);
  padding: 1em;
  list-style-type: none;
  width: 100%;
  min-height: 2em;
  max-height: 100px;
  padding: 0px;
  font-size: 2em;
  font-family: Open Sans;
  font-style: normal;
  text-align: center;
}
.navbar-brand {
  font-weight: bold;
  float: left;
}
.navbar-nav {
  float: right;
}
.find-time {
  padding-right: 5em;
}
.divider > hr {
  border: none;
  border-left: 3em solid green;
  height: 100%;
  padding-left: 5em;
  padding-right: 5em;
}
.logout {
  padding-right: 5em;
}
