.menu-wrapper {
  display: inline-block;
  margin: 0;
  background: rgb(237, 238, 244);
  padding: 1em;
  list-style-type: none;
  width: 100%;
  min-height: 2em;
  max-height: 100px;
  padding: 0px;
  font-family: Open Sans;
  font-style: normal;
  text-align: center;
}
.navbar-brand {
  font-weight: bold;
  float: left;
}
.navbar-nav {
  float: left;
}


