#table-wrapper th { 
  padding: 5px 10px;
  width: 200px !important; 
}

#table-wrapper td { 
  padding: 5px 10px;
  width: 200px !important; 
}

/* .saved-times thead tr{
  display: table-row;
  border-bottom: 1px solid white;
  width: 10%;
} */

.reminder{
  width: 7cm;
  background-color: white;
  margin: 20px 10px;
  position: relative;
  right: -800px;
  padding: 5px;
}

.content{
  max-width: 1300px;
  margin: auto;
  padding: 5px;
}

#table-wrapper {
  position:relative;
}

#table-wrapper table {
  width:100%;
}
