#table-wrapper th { 
  padding: 5px 10px;
  width: 200px !important; 
}

#table-wrapper td { 
  padding: 5px 10px;
  width: 200px !important; 
}

.customOverlay {
  background: rgba(179, 179, 179, 0.07);
}
.customModal {
  background: white;
  max-width: 500px;
  width: 100%;
}

.reminder{
  width: 7cm;
  background-color: white;
  margin: 20px 10px;
  position: relative;
  right: -800px;
  padding: 5px;
}

.content{
  max-width: 1300px;
  margin: auto;
  background-color: white;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

#table-wrapper {
  position:relative;
}

#table-wrapper table {
  width:100%;
}
