.box {
  height: 65vh;
  width: calc(70vw);
  overflow: auto;
  background-color: white;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

.rbc-calendar {
  min-height: 500px;
  min-width: 700px;
}

.rbc-calendar button {
  max-width: 70px;
  font-size: 14px;
}


.rbc-time-view .rbc-row {
    box-sizing: border-box;
    min-height: 30px;
}
