.header-container {
	position: absolute;
	top: 0;
	text-align: left;
	width: 100%;
	background: rgb(255, 255, 255);
	min-height: 2em;
	max-height: 100px;
}

.logo-container {
	float: left;
	display: inline-block;
}

.menu-container {
}
