.Header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	background-color: #E1E7EC;
}

.Header__logo {
	color: #5F5FC4;
	font-weight: bold;
	font-size: 1.25em;
}
.Header__logo:hover, .Header__logo:focus {
	color: #5F5FC4;
	text-decoration: none;
}

.Header__links {
	display: flex;
}

.Header__link {
	color: inherit;
	margin-left: 16px;
	margin-right: 16px;
}
.Header__link:hover, .Header__link:focus {
	text-decoration: none;
}

.Header__link > img {
	margin-right: 8px;
}

.Header__links-divider {
	width: 2px;
	margin-left: 16px;
	margin-right: 16px;
	background-color: #CBCBEC;
}