.table td {
  padding: 5px 20px;
  min-width: 200px !important;
  width: auto;
  text-align: left;
}

.table th {
  padding: 5px 20px;
  min-width: 200px !important;
  width: auto;
  text-align: left;
}


thead tr{
    display: block;
    border-bottom: 1px solid white;
}

tbody{
  display:block;
  overflow:auto;
  height:50vh;
  width:100%;
}

.section-header {
  padding-top: 10px !important;
  color: purple;
}

.date-and-dot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tbody::-webkit-scrollbar {
    width: 0.5em;
  }

tbody::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.2);
}

tbody::-webkit-scrollbar-thumb {
    background-color: purple;
}



.section-header {
  padding-top: 10px !important;
  color: purple;
}

.save-button:hover {
  cursor: pointer;
}
