.table td {
  padding: 5px calc(1.5vh + 1vw);
  width: auto;
  text-align: left;
}

.table th {
  padding: 5px calc(4vh - 10px);
  width: auto;
  text-align: left;
}

.time-heading {
  margin-right: 50px;
}

.table {
  background-color: white;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  width: %;
  max-width: 100%;
  margin-bottom: calc(5% + 1cm);
}

thead tr{
    display: block;
    border-bottom: 1px solid blue;
}

tbody{
  display:block;
  overflow:auto;
  height:50vh;
  width:100%;
}

.dots {
  display: flex;
}

.dot {
  width: calc(0.1vh + 0.1vw + 15px);
  height: calc(0.1vh + 0.1vw + 15px);
  border-radius: 50%;
  margin-right: 2%;
}

.section-header {
  padding-top: 10px;
  color: purple;
}


tbody::-webkit-scrollbar {
    width: 0.5em;
  }

tbody::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.2);
}

tbody::-webkit-scrollbar-thumb {
    background-color: blue;
}

.customOverlay {
  background: rgba(179, 179, 179, 0.07);
}

.modal {
  top: 50%;
  left: 50%;  
  right: auto;                
  bottom: auto;        
  margin-right: -50%;         
  transform: translate(-50%, -50%);         
}

.close-button {
  width: 100%;
  float: right;
}

.notebox {
  margin: 5px 20px;
  width: 90%;
  resize: none;
  border-radius: 3px;
}

.save-button-container{
  padding: 5px 25px;
  float: right;
}

.save-note {
  border-radius: 3px;
  color: white;
  background: #00FF00;
  border: #00FF00 2px solid;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
  outline: none;
}

  .save-note:hover{
    cursor: pointer;
    color: #00FF00;
    background: white;
    box-shadow: none;
  }

.section-header {
  padding-top: 10px !important;
  color: purple;
}

.save-button:hover {
  cursor: pointer;
}
