.dropdown {
    width: calc(100%);
    color: black;
    margin: 20px 10px;
    
}

.Select-menu-outer {
  top: 0%;
  bottom: 100%;
  position:absolute;
} 
  
.column {
  float: left;
  padding: 10px
}

.row {
    content: "";
    display: table;
    clear: both;
    margin: auto;
    background-color: white;
    margin-top: calc(5% + 1cm);
    margin-bottom: calc(5% + 1cm);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.button {
    float: left;
    background-color: blue;
    border: none;
    top: 28px;
    margin: 20px 10px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    width: 100%
}
