.leftdropdown {
    width: 10cm;
    color: black;
    margin: 20px 10px;
}

.rightdropdown {
    width: 10cm;
    color: black;
    margin: 20px 10px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row {
    content: "";
    display: table;
    clear: both;
    margin: auto;
    background-color: white;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}


.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 50px;
    cursor: pointer;
    width: 7cm
}
